name: longpress_popup_example
description: A new Flutter project.

publish_to: 'none' 


version: 1.5.0

environment:
  sdk: ">=2.16.1 <3.0.0"


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  
  latlong2: ^0.8.0
  flutter_map: ^1.0.0
  longpress_popup:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:

  uses-material-design: true
